head
    title Jade Template
    // build:css /assets/css/all.css
    link(href='/assets/css/normalize.css', rel='stylesheet')
    link(href='/assets/css/layouts.css', rel='stylesheet')
    link(href='/assets/css/modules.css', rel='stylesheet')
    link(href='/assets/css/elements.css', rel='stylesheet')
    // endbuild